# every subfolder in the data folder
data/*/
# training dataset
again
bigger
# old runs and predictions
runs/detect/*
runs/detect/!again_11m_bs16
runs/detect/again_11m_bs16/predict-all-test-set
runs/detect/again_11m_bs16/predict-general
# temporary files
temp.ipynb
# automatic folders
__pycache__
.gradio